<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>FoodBot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="FoodBot" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Daily food poll for you Slack channel" />
  <link href="https://fonts.googleapis.com/css?family=Khula:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
 

</head>
<body>
  <section>
    <div class="center w-30-ns w-80 w-60-m pv5" id="src" data-src='{{ obj }}'>
      {% if error %}<div class="error pa3 tc">{{ error }}</div>{% endif %}
      {% if info %}<div class="status pa3 tc">{{ info }}</div>{% endif %}

      <h3>Stats for today</h3>
      <ol>
        {% for response in responses %}
          <li class="lh-copy"><strong>{{ response.user.name }}</strong> - {{ response.selection }}</li>
        {% endfor %}
      </ol>
      <h5> Grouped Lists </h5>
      <div id="myDiv"> </div>
    </div>
  </section>
  <script src="responses.js"></script>
</body>
</html>
